Repository WyriHaximus/github-action-composer.lock-diff, pull requests merged in 2021-05, with the labels that each got.

#1 Add GitHub Config
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/boring-cyborg.yml
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/craft-release.yaml
  .github/workflows/set-milestone-on-pr.yaml
Labels: enhancement

#2 Basic Docker setup
  .github/workflows/craft-release.yaml
  Dockerfile
  Dockerfile-build
  composer.json
  composer.lock
  entrypoint.sh
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, Docker 🐳, Feature 🏗, JSON 👨‍💼, PHP 🐘, YAML 🍄

#3 Test action on CI
  .github/workflows/ci.yml
  Dockerfile-build
  entrypoint.sh
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, Docker 🐳, PHP 🐘, YAML 🍄

#4 Add Action configuration
  action.yaml
Labels: YAML 🍄

#5 Use our own action on PR's
  .github/workflows/ci.yml
  .github/workflows/composer-diff.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#6 Make the action comment on PR's
  .github/workflows/ci.yml
  .github/workflows/composer-diff.yaml
  Dockerfile
  Dockerfile-build
  comment.php
  composer.json
  composer.lock
  entrypoint.sh
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, Docker 🐳, JSON 👨‍💼, PHP 🐘, YAML 🍄

#7 Set required permissions for external PR's to run composer diff
  .github/workflows/composer-diff.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#9 Set PR write permission for composer diff workflow
  .github/workflows/composer-diff.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#10 Reduce composer diff issue permissions to read only
  .github/workflows/composer-diff.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#8 Composer update --prefer-lowest
  composer.lock
Labels: Dependencies 📦, PHP 🐘

#14 Start at the top: write-all permissions on composer diff workflow
  .github/workflows/composer-diff.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#16 Use pull_request_target for elevated issues write permissions
  .github/workflows/ci.yml
  .github/workflows/composer-diff.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#17 Simplify and explicitly specify branches
  entrypoint.sh
Labels: Bug 🐞, Enhancement ✨

#18 Allow git fetch to fail and hope for the best
  entrypoint.sh
Labels: Bug 🐞

#19 Test if checkout v1 works with all the heads we need
  .github/workflows/composer-diff.yaml
Labels: Bug 🐞, CI 🚧, Configuration ⚙, Documentation 📚, YAML 🍄

#20 Use pull_requests permissions on composer-diff workflow
  .github/workflows/composer-diff.yaml
Labels: Bug 🐞, CI 🚧, Configuration ⚙, Documentation 📚, YAML 🍄

#21 pull_requests => pull-requests
  .github/workflows/composer-diff.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#22 Improved Dependabot detection
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, Enhancement ✨, YAML 🍄

#23 Store Docker images between CI steps
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#25 Add Dry Run option
  .github/workflows/ci.yml
  action.yaml
  entrypoint.sh
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#26 Only run comment composer.lock diff step on PR's
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#27 Add outputs
  .github/workflows/ci.yml
  action.yaml
  composer.lock
  entrypoint.sh
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, PHP 🐘, YAML 🍄

#30 Add documentation
  .github/workflows/composer-diff.yaml
  README.md
  images/comment.png
Labels: CI 🚧, Configuration ⚙, Image 🖼, MarkDown 📝, YAML 🍄

#32 Correct update branch sed on release
  .github/workflows/craft-release.yaml
Labels: Bug 🐞, CI 🚧, Configuration ⚙, YAML 🍄

#33 Use v1 for our prime example workflow
  .github/workflows/composer-diff.yaml
  README.md
Labels: CI 🚧, Configuration ⚙, Documentation 📚, MarkDown 📝, YAML 🍄

#34 Fixed typo
  README.md
Labels: Documentation 📚, MarkDown 📝
