Repository WyriHaximus/github-action-composer.lock-diff, pull requests merged in 2024-05, with the labels that each got.

#158 Bump ion-bazan/composer-diff.
  composer.lock
  generate-comments/composer.lock
Labels: Dependencies 📦, PHP 🐘

#162 Switch to centralize workflow for release management
  .github/workflows/craft-release.yaml
  .github/workflows/release-managment.yaml
Labels: CI 🚧, Enhancement ✨, YAML 🍄, Configuration ⚙

#163 Set pre-release script
  .github/workflows/release-managment.yaml
Labels: CI 🚧, Bug 🐞, YAML 🍄, Configuration ⚙

#164 Set basic prep for release commit message
  .github/workflows/release-managment.yaml
Labels: CI 🚧, Bug 🐞, YAML 🍄, Configuration ⚙

#165 Delegate creating the commit to the work flow
  .github/workflows/release-managment.yaml
Labels: CI 🚧, Enhancement ✨, YAML 🍄, Configuration ⚙
